@model IEnumerable<moviesList.ViewModel.MoviesList>
@{
    ViewData["Title"] = "Home Page";
    int i = 1;
}
<button type="button" data-assigned-id="0" class="manage btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Movies</button>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Name</th>
                <th>Release Year</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var val in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@val.Name</td>
                    <td>@val.ReleaseYear</td>
                    <td>
                        <button type="button" data-assigned-id="@val.Id" class="manage btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>
                        <button type="button" data-assigned-id="@val.Id" class="delete btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Manage Movies</h4>
            </div>
            <div id="partial"></div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
    @* Manage popup*@
$(function() {
        $('.manage').click(function() {
            var id = $(this).data('assigned-id');
            var route = '@Url.Action("_ManageMovie", "Home")?id=' +id;
            $('#partial').load(route);
        });

    $('.delete').click(function() {
            var id = $(this).data('assigned-id');
            var route = '@Url.Action("_DeleteMovie", "Home")?id=' +id;
            $('#partial').load(route);
        });

});</script>
}